<div class="row justify-content-md-center no-gutters">
  <div class="col-md-6">
    <div class="home-right inner-main text-center">
      <h3>You have signed up successfully!</h3>
    </div>
  </div>
</div>
